* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-neet {
  margin-top: 10rem;
}
.about-neet-title {
  text-align: center;
}

.about-neet-title h2 {
  font-size: 30px;
  font-weight: 600;
}

.about-neet-dropdown {
  margin: 80px;
}

#neet-head {
  font-size: 30px;
  font-weight: 600;
}
.neet-1 {
  display: flex;
}
/* .neet-2{
    display: flex;
} */
@media (max-width: 767px) {
  /* .about-neet-dropdown{
      width: 100%;
      margin-bottom: 30px;
  } */
  .neet-1 {
    display: inline-block;
  }
  .neet-2 img {
    /* display: inline-block; */
    width: 100%;
  }
}
@media (max-width: 574px) {
  .about-neet {
    margin-top: 40px;
    /* margin-left: -1rem; */
  }
  .about-neet-title {
    text-align: center;
  }
  .about-neet-dropdown {
    /* width:fit-content; */
    /* margin-left: -0.1rem; */
    display: inline;
  }
  .neet-1 {
    display: inline-table;
  }
}

@media (max-width: 414px) {
  .about-neet-title h2{
    display: inline-block;
    align-items: center;
    font-size: 18px;

  }
.about-neet .about-neet-dropdown{
  display:inline;
  justify-content: center;
}
.neet-1 {
  font-size: 11px;
}
.neet-1 img {
  /* display: inline-block; */
  width: 100%;
}
}
