.faq-area{
margin: 6rem;
margin-left: 8rem;
margin-right: 8rem;
margin-top: 8rem;
}

.faq-title{
    text-align: center;
    margin-bottom: 30px;
}

.faq-title h2{
    font-size: 3rem;
    font-weight: 600;
}

@media (max-width: 574px) {
    .faq-area{
        margin: 60px;
        margin-left: 0.4rem;
        /* margin-right: 9rem; */
        display: inline;
        } 
}