* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgb(15, 66, 66);
  color: white;
  align-items: center;
  padding: 0px 1rem;
  height: 50px;
  width: 100%;
  /* max-width: inherit; */
}
a {
  color: white;
}

/* a:visited {
  color: #f3bd00;
} */

/* responsive */

@media (max-width: 767px) {
  .Header{
    width: inherit;
    height: 40px;
  }
  .Header p {
    display: content;
  }
}

@media (max-width: 414px) {

  .Header{
    display: inline-block;
    height: 45px;
  }
  .Header a {
    font-size: 7px;
  }

  .Header p {
    font-size: 6px;
    display:inline-block;

    /* position: relative; */
  }
}
