* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.pride{
    margin-top: -14rem;
}
.pride h1{
    font-size: 3.5rem;
    font-weight: 600;
}
.pride-img img{
    max-width: 75rem;
    height: 500px;
    border-radius: 20px;
}

@media (max-width: 574px) {
    .pride h1{
        font-size: 1.9rem;
    }
    .pride-img img{
        width:17rem;
        height: 150px;
        margin-left: -10px;
    } 
}