* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register {
  display: flex;
  justify-content: center;
}

.register img {
  height: 280px;
  max-width: 300px;
}

.register-form {
  display: flex;
align-items: center;
  margin-top: 40px;
  width: 100%;
}

.register-number {
  /* background-color: rgb(240, 240, 121); */
  margin: 3rem;
  margin-top: -10rem;
  /* margin-left: 15rem; */
  /* margin-right: 10rem; */
  min-height: 200px;
  
  /* margin-top: 4rem; */
  text-align: center;
}

.register-number p {
  background: rgb(230, 238, 77);
  /* height: 10rem; */
  /* width: 100%; */
  /* border-radius: 10px 80px 10px 80px; */
   font-weight: 600 
}

.register-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}

.responsive-iframe {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}



@media(max-width: 767px){
   /* .registration{
    height: 100vh;
   } */
    .register-number p{
      width: 90%;
      font-size: 10px;
      display: grid;
  }
  .register img{
    margin-top: 15rem;
    height: 200px;
    width: 200px;
  }
  .register-container{
    width: 95%;
    height: 300px;
    margin-left: 10px;
  }
  .responsive-iframe {
    position:absolute;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    /* width: 100%; */
    height: 200%;
    border: none;
  }
  
  
  .register-number {
    margin-top: 9rem;
    /* margin-right: 10px; */
    padding-left: 40px;
    margin-left: -7px;
  }
  }