.register {
  display: flex;
  justify-content: center;
}

.register img {
  height: 280px;
  width: 300px;
}

.register-form {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.register-number {
  /* background-color: rgb(240, 240, 121); */
  margin: 20px;
  margin-left: 15rem;
  margin-right: 10rem;
  min-height: 200px;
  
  margin-top: 40px;
  text-align: center;
}

.register-number p {
  background-color: rgb(230, 238, 77);
  /* height: 10rem; */
  width: 100%;
  /* border-radius: 10px 80px 10px 80px; */
}

@media(max-width: 767px){
    .register-number p{
      /* margin-bottom: 30px; */
      display:inline-flex;
      /* background-color: green; */
      width: 100%;

  }
  }
  @media(max-width: 574px){
    .register-number p{
      width: 100%;
  }
  }