* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  /* scroll-behavior: smooth; */
}
/* * {
  scroll-behavior: smooth;
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
  height: 100%;
} */

body {
  /* width: 100%;
  height: 100%; */
  /* margin: 0px !important;
  padding: 0px !important; */
  /* font-family: 'Montserrat', sans-serif; */
  /* position: absolute; */
  overflow-x: hidden;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
}
.button-static {
  background: #f3bd00;
  color: white;
  font-size: 2rem;

  width: auto;
  height: 3rem;
  border: none;
  font-family: 'poppins', sans-serif;
  padding: 0px 10px;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}
.button-static:hover {
  background: white;
  border: 1px solid #f3bd00;
  color: #2f2d2e;
}
.button {
  background: white;
  border: 1px solid #f3bd00;
  font-family: 'poppins', sans-serif;
  padding: 0px 10px;
  margin: 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #f3bd00;
  color: white;
}
/* Navbar */

/* .Navbar{
  display:flex;
  height: 2rem;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 5px 0px black;
  margin-bottom: 7rem;
}
.Navbar a{
  color:#0C2B4B;
  text-decoration: none;
}
.nav-content{
  display: flex;
  gap: 2rem;
  margin: 0 1rem;
}
.nav-list{
  display: flex;
  
  list-style: none;
  gap: 1rem;
} */

/* Our Pride */
.pride {
  text-align: center;
}
/* Main Contaier code */

.main-page {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  height: 80vh;
  margin-top: -80px;
}

.left-container .weekly-img img {
  margin-top: 10px;
  height: 300px;
}
.main-page .free-class img {
  width: 60%;
  height: 350px;
}

@media (max-width: 767px) {
  .main-page {
    display: inline-block;
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 1rem;
    height: 85vh;
  }

  .Header p {
    display: content;
  }
  .main-page .free-class img {
    width: 60%;
    height: 300px;
  }
  .main-page .drkhan {
    font-size: 1rem;
  }
}

@media (max-width: 574px) {
  /* .Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  } */
  .main-page {
    display: inline-block;

    /* height: fit-content; */
    margin-top: -10rem;
    /* margin-left: 2rem; */
  }
  /* .left-container {
    margin-top: -5rem;
  } */
  .left-container .left-head {
    font-size: 1rem;
  }
  .left-container .left-head span {
    font-size: 1.8rem;
  }
  .left-container .weekly-img img {
    margin-top: 10px;
    height: 200px;
  }
  .right-container .neet-img {
    margin-top: -1px;
    width: 310px;
    height: 240px;
  }

  .Header p {
    display: content;
  }

  .teachers {
    display: list-item;
  }
}



@media (max-width: 414px) {
  
  .left-container .left-head {
    font-size: 1rem;
  }
  #testimonials{
    margin-top: -80px;
  }
  #faculty{
padding-top: 100px;
  }

}
/* .left-container{
  display: flex;
  flex-direction: column;
} */

.left-container {
  margin-top: 12rem;
}
.left-container h1 {
  font-size: 2.5rem;
}
.left-container h2 {
  font-size: 1.5rem;
}
.left-container h3 {
  font-size: 1.5rem;
}
.right-container img {
  margin-top: 120px;
  width: 450px;
  height: 400px;
}
.right-container span {
  display: flex;
  flex-direction: column;
}
#name {
  color: #f3bd00;
}
.bg-light {
  color: #f3bd00;
  font-size: 1.6rem;
  padding: 5px;
}

/* How are we different*/
.different {
  margin-top: 5rem;
}
.Different {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  /* margin-bottom: 2rem; */
}
.Different img {
  width: 500px;
  object-fit: cover;
}

.Different .Content p {
  /* font-family: cursive; */
  font-size: 1.3rem;
  font-weight: 600;
}
.Content {
  width: 500px;
}
.Content h1 {
  margin: 0;
  font-size: 2.5rem;
}
.Content p {
  padding: 10px;
  font-size: 1.2rem;
}
#unique-id {
  color: #f3bd00;
  padding: 0;
  margin: 0;
}
/* Card */

.teachers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  width: 400px;
  height: 400px;
  background: rgb(255, 255, 252);
  border-radius: 5%;
  margin-bottom: 7rem;
  text-align: center;
  padding: 5px;
  text-transform: capitalize;
}

.Different p img {
  height: 23px;
  width: 22px;
}
@media (max-width: 767px) {
  .Different {
    display: inline-block;
    /* margin-bottom: 2rem; */
  }
  .Different img {
    width: 160px;
    height: 300px;
    /* object-fit: cover; */
  }

  .Different .Content img {
    height: 10px;
    width: 20px;
  }
  .Different .girl-study {
    height: 300px;
    width: 400px;
  }
  /* .Different .real-time {
    height: 300px;
    width: 280px;
  } */
  /* .Different .happy {
    height: 300px;
    width: 280px;
  } */
  /* .Content {
    margin-right: 20px;
  } */
  .Different .Content p {
    font-size: 10px;
  }
  /* .Content .first-content {
    margin-left: -40px;
  } */
  /* .Content .parent-talk {
    margin-left: -65px;
  } */
  .card {
    width: 280px;
    height: 370px;
    background: rgb(255, 255, 252);
    border-radius: 5%;
    margin-bottom: 7rem;
    text-align: center;
    /* padding: 5px; */
    text-transform: capitalize;
  }
}

@media (max-width: 574px) {
  .teachers {
    display: inline-block;
    margin-top: 30px;
    margin-left: 80px;
  }

  .Different .Content .second-content {
    text-align:center;
  }
  .Different .Content p {
    font-size: 13px;
    /* text-align: left; */
  }

  /* .card {
    width: 350px;
    height: 400px;
    background: rgb(255, 255, 252);
    border-radius: 5%;
    margin-bottom: 7rem;
    margin-top: 40px;
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
  } */

  .Different {
    display: inline-block;
    /* margin-bottom: 2rem; */
  }
  .Different img {
    width: 500px;
  }
}

@media (max-width: 415px) {
  .teachers {
    display: grid;
    margin-top: 30px;
    margin-left: 80px;
  }

  /* .Different .Content{
    text-align: left;
  } */
  .Different .Content p {
    font-size: 13px;
    /* text-align: left; */
  }

  .card {
    width: 340px;
    height: 370px;
    background: rgb(255, 255, 252);
    margin-left: 20px;
  }

  .Different {
    display: inline-block;
    /* margin-bottom: 2rem; */
    /* justify-content: center; */
  }
  .Different img {
    width: 600px;
    /* object-fit: cover; */
  }
  /* .Different .Content .first-content li p{
    font-size: 8px;
  } */
  .Different .Content .parent-talk {
    display: inline-block;
    justify-content:left;
  }
  .Different .real-time{
    margin-left: 15px;
  }
}

.upper-container {
  width: inherit;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}

.img-container {
  width: inherit;
  height: inherit;
}
.img-container img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 10px;
}

.lower-container {
  text-align: center;
  margin-top: 15px;
}

.lower-container h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.lower-container h3 {
  color: #0c2b4b;
  font-weight: 600;
  font-size: 1.5rem;
}

.lower-container h4 {
  color: #1c1919;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.lower-container p {
  margin: 1rem;
  color: black;
  font-weight: auto;
  font-size: 1rem;
  text-align: center;
}

.Card .experience {
  color: black;
  text-transform: capitalize;
}

/* Footer */

footer {
  background: #65ad44;
  color: azure;
  font-size: 0.8rem;
  padding: 3rem;
}

@media only screen and (max-width: 414px) {
  .deviceWidth {
    width: 280px !important;
    padding: 0;
  }
  .center {
    text-align: center !important;
  }
}
